<!doctype html>
<html lang="en" data-bs-theme="dark">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
        <script>
            $(document).ready(function() {
                $('table').DataTable({
                    "pageLength": 50, // Set default number of rows to 50
                    "order": [[0, "desc"]] // Sort by date applied in descending order
                });
            });
        </script>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Job Application Tracker</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-nav" href="{{ url_for('index') }}">Home</a>
                <div class="form-check form-switch ms-auto">
                    <input class="form-check-input" type="checkbox" id="themeToggle">
                    <label class="form-check-label" for="themeToggle">
                        <span id="themeToggleLabel">Dark Theme</span>
                    </label>
                </div>
            </div>
        </nav>
        
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}

            <script>
                // Theme toggle function
                const themeToggle = document.getElementById('themeToggle');
                const htmlElement = document.documentElement;
                const themeToggleLabel = document.getElementById('themeToggleLabel');

                // Set initial theme and label
                if (htmlElement.getAttribute('data-bs-theme') === 'dark') {
                    themeToggle.checked = true;
                    themeToggleLabel.textContent = 'Dark Theme';
                }

                themeToggle.addEventListener('change', () => {
                    if (themeToggle.checked) {
                        htmlElement.setAttribute('data-bs-theme', 'dark');
                        themeToggleLabel.textContent = 'Dark Theme';
                    } else {
                        htmlElement.setAttribute('data-bs-theme', 'light');
                        themeToggleLabel.textContent = 'Dark Theme';
                    }
                });
            </script>
    
        {% endblock %}
    </body>
</html>